<p id="notice"><%= notice %></p>



<div id="ham-menu">
    <ul>
        <li><%= link_to 'articles', "articles" %></li>
        <li></li>
        <li></li>
    </ul>
</div>


<div id="menu-background"></div>


