<p id="notice"><%= notice %></p>

<h1>Listing Portals</h1>

<img src="/assets/top.jpg" />
<img src="/app/assets/top.jpg" />
<img src="/manji/app/assets/top.jpg" />
<div style="background-image:url(/assets/top.jpg)" />
<div style="background-image:url(/app/assets/top.jpg)" />
<div style="background-image:url(/manji/app/assets/top.jpg)" />

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'articles', "articles" %>
